h5,
h6,
p,
ul,
li {
	margin: 0px;
}
.App {
	margin: 20px;
}
.home-container {
	margin: 20px;
	padding: 20px;
	display: flex;
	flex-direction: column;
}
.students-container,
.mentors-container {
	margin: 20px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 25px;
}
.card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}
.card-div {
	display: flex;
	gap: 20px;
	align-items: center;
}
